.home {
    padding-top: 8rem;
    .hero_image {
        height: 1024px;
        overflow-x: hidden;
        img {
            height: 100%;
            clip-path: path("M73.2362 742.497C171.326 869.231 250.628 825.783 365.514 900.062C430.981 942.373 476.249 1030.55 568.335 1023.61C637.593 1018.39 700.57 964.168 731.615 902.733C746.115 874.033 744.122 830.756 759.922 804.188C792.545 749.374 846.39 735.99 897.94 700.811C957.347 660.233 1005.63 608.147 1001.79 522.645C998.05 439.244 933.717 380.14 911.138 302.451C887.508 221.125 912.909 157.36 832.832 100.358C769.136 55.0354 697.581 81.803 631.367 65.123C462.11 22.5278 369.637 -74.0288 242.438 101.211C189.229 174.524 165.183 267.301 108.017 333.708C6.41321 451.833 -56.8956 574.361 73.2362 742.497Z");
        }
    }
    .text_wrapper {
        position: absolute;
        top: 20rem;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        width: 100%;
        h1 {
            color: #fff;
            margin-bottom: 2rem;
        }
        .cursive {
            font-size: clamp(2rem, 5vw, 6rem);
            display: inline-block;
            text-align: center;
            background-image: linear-gradient(45deg,#FF0080, #ff9c23,#40E0D0 );
            background-size: 100%;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}

@media screen and (min-width: 720px) {
    .home {
        .hero_image {
            position: relative;
            height: 1230px;
            img {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translateX(-50%) translateY(-50%) scale(1.2);
            }
        }
    }
}

@media screen and (min-width: 1540px) {
    .home {
        .hero_image {
            position: relative;
            height: 1540px;
            img {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translateX(-50%) translateY(-50%) scale(1.5);
            }
        }
    }
}