@import "../Logo/Logo";
.header {
    height: 5rem;
    position: fixed;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    z-index: 100;
    background-color: #fff;
    max-width: 2000px;
    margin: 0 auto;
    button {
        transform: scale(1.5);
        border: none;
        background-color: transparent;
        outline: none;
        color: #000;
    }
    nav {
        position: absolute;
        top: 100%;
        left: 0;
        background-color: white;
        width: 100%;
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        transition: all 500ms ease-in-out;
        border-radius: 0 0 5px 5px;
        li {
            list-style: none;
            margin: 1rem 0;
            font-size: 1rem;
            width: 100%;
            text-align: center;
            padding: 0.5rem 0;
        }
    }
    nav::before {
        content: "";
        position: absolute;
        height: 5px;
        width: 100%;
        background: linear-gradient(35deg, #40E0D0,#ff9c23, #FF0080);
        bottom: 0;
        border-radius: 0 0 5px 5px;
    }
    .overlay {
        position: absolute;
        background-color: black;
        width: 100%;
        top: 100%;
        left: 0;
        bottom: 0;
        height: 100vh;
        transition: all 500ms ease;
        opacity: 0.7;
    }
}

@media screen and (min-width: 780px) {
    .header {
        padding: 0 3rem;
        height: 8rem;
        .mobile {
            display: none;
        }
        .desktop {
            .anchor_wrapper {
                display: flex;
                list-style-type: none;
                font-size: 1rem;
                li {
                    margin-right: 5rem;
                }
                li:nth-child(4) {
                    margin: 0;
                }
            }
        }
    }
}

@media screen and (max-width: 780px) {
    .header {
        .desktop {
            display: none;
        }
    }
}

@media screen and (min-width: 1280px) {
    .header {
        padding: 0 5rem;
    }
}