.logo .cursive {
  font-size: 2rem;
}

.header {
  height: 5rem;
  position: fixed;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2rem;
  z-index: 100;
  background-color: #fff;
  max-width: 2000px;
  margin: 0 auto;
}

.header button {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  border: none;
  background-color: transparent;
  outline: none;
  color: #000;
}

.header nav {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  border-radius: 0 0 5px 5px;
}

.header nav li {
  list-style: none;
  margin: 1rem 0;
  font-size: 1rem;
  width: 100%;
  text-align: center;
  padding: 0.5rem 0;
}

.header nav::before {
  content: "";
  position: absolute;
  height: 5px;
  width: 100%;
  background: linear-gradient(35deg, #40E0D0, #ff9c23, #FF0080);
  bottom: 0;
  border-radius: 0 0 5px 5px;
}

.header .overlay {
  position: absolute;
  background-color: black;
  width: 100%;
  top: 100%;
  left: 0;
  bottom: 0;
  height: 100vh;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  opacity: 0.7;
}

@media screen and (min-width: 780px) {
  .header {
    padding: 0 3rem;
    height: 8rem;
  }
  .header .mobile {
    display: none;
  }
  .header .desktop .anchor_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
    font-size: 1rem;
  }
  .header .desktop .anchor_wrapper li {
    margin-right: 5rem;
  }
  .header .desktop .anchor_wrapper li:nth-child(4) {
    margin: 0;
  }
}

@media screen and (max-width: 780px) {
  .header .desktop {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .header {
    padding: 0 5rem;
  }
}

.home {
  padding-top: 8rem;
}

.home .hero_image {
  height: 1024px;
  overflow-x: hidden;
}

.home .hero_image img {
  height: 100%;
  -webkit-clip-path: path("M73.2362 742.497C171.326 869.231 250.628 825.783 365.514 900.062C430.981 942.373 476.249 1030.55 568.335 1023.61C637.593 1018.39 700.57 964.168 731.615 902.733C746.115 874.033 744.122 830.756 759.922 804.188C792.545 749.374 846.39 735.99 897.94 700.811C957.347 660.233 1005.63 608.147 1001.79 522.645C998.05 439.244 933.717 380.14 911.138 302.451C887.508 221.125 912.909 157.36 832.832 100.358C769.136 55.0354 697.581 81.803 631.367 65.123C462.11 22.5278 369.637 -74.0288 242.438 101.211C189.229 174.524 165.183 267.301 108.017 333.708C6.41321 451.833 -56.8956 574.361 73.2362 742.497Z");
          clip-path: path("M73.2362 742.497C171.326 869.231 250.628 825.783 365.514 900.062C430.981 942.373 476.249 1030.55 568.335 1023.61C637.593 1018.39 700.57 964.168 731.615 902.733C746.115 874.033 744.122 830.756 759.922 804.188C792.545 749.374 846.39 735.99 897.94 700.811C957.347 660.233 1005.63 608.147 1001.79 522.645C998.05 439.244 933.717 380.14 911.138 302.451C887.508 221.125 912.909 157.36 832.832 100.358C769.136 55.0354 697.581 81.803 631.367 65.123C462.11 22.5278 369.637 -74.0288 242.438 101.211C189.229 174.524 165.183 267.301 108.017 333.708C6.41321 451.833 -56.8956 574.361 73.2362 742.497Z");
}

.home .text_wrapper {
  position: absolute;
  top: 20rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
  width: 100%;
}

.home .text_wrapper h1 {
  color: #fff;
  margin-bottom: 2rem;
}

.home .text_wrapper .cursive {
  font-size: clamp(2rem, 5vw, 6rem);
  display: inline-block;
  text-align: center;
  background-image: linear-gradient(45deg, #FF0080, #ff9c23, #40E0D0);
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (min-width: 720px) {
  .home .hero_image {
    position: relative;
    height: 1230px;
  }
  .home .hero_image img {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%) scale(1.2);
            transform: translateX(-50%) translateY(-50%) scale(1.2);
  }
}

@media screen and (min-width: 1540px) {
  .home .hero_image {
    position: relative;
    height: 1540px;
  }
  .home .hero_image img {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%) scale(1.5);
            transform: translateX(-50%) translateY(-50%) scale(1.5);
  }
}

.about__card {
  margin: 2rem;
  text-align: center;
  height: 30rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  border-radius: 1rem;
  overflow: hidden;
  max-width: 25rem;
}

.about__card .about_logo {
  background-color: white;
  height: 10rem;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__card .about_logo img {
  width: 60px;
  opacity: 0.8;
  margin: 0 auto;
}

.about__card .card_wrapper {
  background-color: #fff;
  height: 20rem;
  padding: 2rem;
  border-radius: 1rem 1rem 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 -1px 10px -2px rgba(0, 0, 0, 0.6);
          box-shadow: 0 -1px 10px -2px rgba(0, 0, 0, 0.6);
}

.about__card .card_wrapper h3 {
  margin: 1rem 0;
}

.about {
  width: 100%;
}

.about .skills_card_container, .about .journey_card_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1080px) {
  .about .skills_card_container, .about .journey_card_container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    max-width: 80rem;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1540px) {
  .about {
    max-width: 1540px;
    margin: 0 auto;
  }
}

.projects_container__card {
  max-width: 25rem;
  margin: 2rem 0;
  padding-bottom: 2rem;
  height: 660px;
  text-align: center;
}

.projects_container__card .image_wrapper {
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects_container__card .content_wrapper {
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.projects_container__card p {
  margin: 2rem 0;
}

.projects_container__card img {
  width: 100%;
}

.projects_container__card .text_wrapper {
  padding: 0 2rem;
}

.projects_container__card .button_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.projects_container__card .button_wrapper button {
  padding: 0.5rem 2rem;
  text-transform: uppercase;
  border-radius: 0.5rem;
  border: none;
  background-color: transparent;
  border: 1px solid black;
}

.projects .projects_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects .switch {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 80rem;
  padding: 0 2rem;
}

.projects .switch button {
  padding: 1rem 2rem;
  position: relative;
  border: none;
  background-color: transparent;
  color: #000;
}

.projects .switch button::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 5px;
  background: linear-gradient(35deg, #40E0D0, #ff9c23, #FF0080);
  left: 0;
  top: 100%;
}

@media screen and (min-width: 1540px) {
  .projects {
    max-width: 1540px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1080px) {
  .projects .projects_container .card_container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 4rem;
  }
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
  background-color: #d3d8e981;
}

body img {
  display: block;
}

body button {
  cursor: pointer;
}

body .cursive {
  font-family: 'Allura', cursive;
}

body a {
  cursor: pointer;
  text-decoration: none;
  color: #000;
}

body h1 {
  font-size: clamp(3rem, 10vw, 16rem);
  text-transform: uppercase;
  text-shadow: #000 0px 0px 1px, rgba(0, 0, 0, 0.4) 3px 6px 0px;
  -webkit-font-smoothing: antialiased;
}

body h2 {
  color: #fff;
  font-size: clamp(2.5rem, 5vw, 8rem);
  text-transform: uppercase;
  text-shadow: #000 0px 0px 1px, rgba(0, 0, 0, 0.4) 2px 4px 0px;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.25rem;
  text-align: center;
  margin: 5rem 0;
}

body h3 {
  font-size: clamp(1.5ren, 5vw, 2.25rem);
  letter-spacing: 0.5px;
}

body p {
  opacity: 0.6;
  line-height: 1.5rem;
}
/*# sourceMappingURL=index.css.map */